//Section call too action
.action {
  background-color: #eae2d8;
  .action-promotion {
    font-family: "Dancing Script", cursive;
    font-size: 3rem !important;
  }
  .action-left {
    margin-top: 5rem;
  }
  h3 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}
